<%= form_for [@article, @article.comments.build], :remote => true do |f| %>

  <p>
    <%= f.text_area :body, :placeholder => "Maximum 140 characters", :class => "form-control input-lg" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>