// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_results_container{
	margin: 70px 0 0 10px;
	
}
